<tr id="events-info-{{this._id}}">
   <td>
  <div class="registered-button">    
  {{#if currentParticipant}}
    <p>Já inscrito</p>
  {{else}}
    <form action="/home/{{this._id}}" method="get">
      <button id="button-to-register" name="register-button" value="Inscrever" type="submit">Inscrever-se</button>
    </form>
  {{/if}}
    </div>
  </td>
  <td>{{this.date}}</td>
  <td>{{this.time}}</td>
  <td>
    <a id="event-name" href="/eventPageView/{{this._id}}"> {{this.name}}</a> 
  </td>
  <td>{{this.owner.name}}</td>
</tr>