<tr id="events-info">
   <td>
  <div class="registered-button">
      <button id="registered-button" type="button" name="Inscrito">Inscreva-se</button>
    </div>
  </td>

  <td>{{this.date}}</td>
  <td>{{this.time}}</td>
  <td>
    <a href="/eventPageView/{{this._id}}"> {{this.name}}</a> 
  </td>
  <td>{{this.owner.name}}</td>
</tr>