<tr id="events-info">
   <td>
  <div class="registered-button">    
  {{#if currentParticipant}}
    <p>Já inscrito</p>
  {{else}}
    <form action="/home/{{this._id}}" method="get"></form>
      <button name="register-button" value="Inscrever">Inscrever-se</button>
    </form>
  {{/if}}
    </div>
  </td>
  <td>{{this.date}}</td>
  <td>{{this.time}}</td>
  <td>
    <a href="/eventPageView/{{this._id}}"> {{this.name}}</a> 
  </td>
  <td>{{this.owner.name}}</td>
</tr>