<main>
    <h1>{{name}}</h1>
    
    <ul>Detalhes do Evento
    <li>Por: {{owner}}</li>
    <li>Data: {{date}}</li>
    <li>Horário: {{time}}</li>
    <li>Duração: {{duration}}</li>
    <li>Localização: {{location}}</li>
    <li>Quantidade de pessoas: {{participantsAmt}}</li>
    <li>Descrição: {{description}}</li>

    </ul>
</main>