<main>
    <h1>{{eventDetail.name}}</h1>
    
    <ul>Detalhes do Evento
    <li>Por: {{eventDetail.owner.name}}</li>
    <li>Data: {{eventDetail.date}}</li>
    <li>Horário: {{eventDetail.time}}</li>
    <li>Duração: {{eventDetail.duration}}</li>
    <li>Localização: {{eventDetail.location}}</li>
    <li>Quantidade de pessoas: {{eventDetail.participantsAmt}}</li>
    <li>Descrição: {{eventDetail.description}}</li>

    </ul>
</main>