<main id="event-details">
    <h5>{{eventDetail.name}}</h5>
    
    <ul>
    <li><b>Por:</b> {{eventDetail.owner.name}}</li>
    <li><b>Data:</b> {{eventDetail.date}}</li>
    <li><b>Horário:</b> {{eventDetail.time}}</li>
    <li><b>Duração:</b> {{eventDetail.duration}}</li>
    <li><b>Localização:</b> {{eventDetail.location}}</li>
    <li><b>Quantidade de pessoas:</b> {{eventDetail.participantsAmt}}</li>
    <li><b>Descrição:</b> {{eventDetail.description}}</li>

    </ul>
</main>